<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/menu.css"> 
<link rel="stylesheet" href="/stylesheets/main.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="/stylesheets/account.css">
<!-- <link rel="stylesheet" href="timeline.css"> -->
<!-- <link rel="stylesheet" href="interactive-and-responsive-svg-map-of-us-states-capitals/map.css"> -->

</head>

<body>

<!-- Menu Section -->

<%- include('menu') %>

<!-- Body Section -->

<div class="login-container">
    <form class="form" id="login">
        <h1 class="form__title">Login</h1>
        <div class="form__message form__message--error"></div>
        <div class="form__input-group">
            <input type="text" class="form__input" id="form__input--loginusr" autofocus placeholder="Username or email">
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input type="password" class="form__input" id="form__input--loginpassword" autofocus placeholder="Password">
            <div class="form__input-error-message"></div>
        </div>
        <button class="form__button" type="submit">Continue</button>
        <p class="form__text">
            <a class="form__link" href="./" class="form__link" id="linkeChangePassword">Change your password?</a>
        </p>
        <p class="form__text">
            <a class="form__link" href="./" id="linkCreateAccount">Don't have an account? Create account</a>
        </p>
    </form>
    <form class="form form--hidden" id="createAccount">
        <h1 class="form__title">Create Account</h1>
        <div class="form__message form__message--error"></div>
        <div class="form__input-group">
            <input type="text" id="signupUsername" class="form__input" autofocus placeholder="Username">
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input type="text" id="form__input--signupemail" class="form__input" autofocus placeholder="Email Address">
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input type="password" id="form__input--signuppassword" class="form__input" autofocus placeholder="Password">
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input type="password" id="form__input--confirmedpassword" class="form__input" autofocus placeholder="Confirm password">
            <div class="form__input-error-message"></div>
        </div>
        <button class="form__button" type="submit">Continue</button>
        <p class="form__text">
            <a class="form__link" href="./" id="linkLogin1">Already have an account? Sign in</a>
        </p>
    </form>

    <form class="form form--hidden" id="changePassWord">
        <h1 class="form__title">Change Password</h1>
        <div class="form__message form__message--error"></div>
        <div class="form__input-group">
            <input type="text" id="signupUsername2" class="form__input" autofocus placeholder="Username">
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input type="text" id="form__input--originalPassword" class="form__input" autofocus placeholder="Original Password">
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input type="password" id="form__input--newPassword" class="form__input" autofocus placeholder="New Password">
            <div class="form__input-error-message"></div>
        </div>
        <div class="form__input-group">
            <input type="password" id="form__input--newconfirmedpassword" class="form__input" autofocus placeholder="New Confirmed Password">
            <div class="form__input-error-message"></div>
        </div>
        <button class="form__button" type="submit">Finish</button>
        <p class="form__text">
            <a class="form__link" href="./" id="linkLogin2">Don't want to change Password? Go back</a>
        </p>
    </form>
    <div class = "login-region div__hidden" id ="login-meta">
    <p>
        Logged in
    </p>
    </div>
</div>
   
</body>


<!-- Assorted JS files : Order DOES matter, files to be included should be placed before the "includers" -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src="/javascripts/config.js"></script>
<!-- <script src="interactive-and-responsive-svg-map-of-us-states-capitals/map.js"></script> -->
<script src="/javascripts/menu.js"></script>
<!-- Axios package : Needed for account -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/account.js"></script>


</html> 
