<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/menu.css"> 
<link rel="stylesheet" href="/stylesheets/main.css">
<link rel="stylesheet" href="/stylesheets/contributors.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- <link rel="stylesheet" href="timeline.css"> -->
<!-- <link rel="stylesheet" href="interactive-and-responsive-svg-map-of-us-states-capitals/map.css"> -->

</head>

<body>

<!-- Menu Section -->

<%- include('menu') %>

<!-- Body Section -->

<div class="profile-content">
    <div class="profile-name" id="pn-rh">
      <h1>Hao Ren</h1>
      <a href="haor2@illinois.edu"> haor2@illinois.edu </a>
    </div>
    <div class="flip-card" id="fc-rh">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/img/funnycathead.png" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>Learn More : </h1> 
            <p>Electrical Engineering</p> 
            <p>Junior</p>
            <p>Interested in OS, Storage and Algorithm.</p>
            <a href="https://www.moomoohorse.github.io" target="_blank">Tech Page</a>
          </div>
        </div>
    </div>
</div>

<div class="profile-content">
    <div class="profile-name" id="pn-lucas">
      <h1>Lucas M Flygare</h1>
      <a href="lucasmf2@illinois.edu"> lucasmf2@illinois.edu </a>
    </div>
    <div class="flip-card" id="fc-lucas">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/img/funnycathead.png" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>Learn More : </h1> 
            <p>...</p> 
            <p>...</p>
            <p>...</p>
            <a href="https://www.google.com" target="_blank">Tech Page</a>
          </div>
        </div>
    </div>
</div>

<div class="profile-content">
    <div class="profile-name" id="pn-haowen">
      <h1>Haowen Zheng</h1>
      <a href="haowenz5@illinois.edu"> haowenz5@illinois.edu </a>
    </div>
    <div class="flip-card" id="fc-haowen">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/img/funnycathead.png" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>Learn More : </h1> 
            <p>Electrical Engineering</p> 
            <p>Junior</p>
            <p>...</p>
            <a href="https://www.google.com" target="_blank">Tech Page</a>
          </div>
        </div>
    </div>
</div>

<div class="profile-content">
    <div class="profile-name" id="pn-denial">
      <h1>Daniel Wang Feng</h1>
      <a href="dwfeng2@illinois.edu"> dwfeng2@illinois.edu </a>
    </div>
    <div class="flip-card" id="fc-denial">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="/img/funnycathead.png" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div class="flip-card-back">
            <h1>Learn More : </h1> 
            <p>...</p> 
            <p>...</p>
            <p>...</p>
            <a href="https://www.google.com" target="_blank">WebPage</a>
          </div>
        </div>
    </div>
</div>
   
</body>
<!-- Assorted JS files : Order DOES matter, files to be included should be placed before the "includers" -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src="/javascripts/config.js"></script>
<!-- <script src="interactive-and-responsive-svg-map-of-us-states-capitals/map.js"></script> -->
<script src="/javascripts/menu.js"></script>
<!-- <script src="timeline.js"></script> -->
</html> 