<div class="menu-section">

<!-- Here are block content portion of Menu -->
    <div class="tabcontent">
        <div class="w3-container w3-animate-bottom">
        <div class="menu-message">
            <h1> <%= menuBlockHeader %> </h1>
            <p> <%= menuBlockMesg1 %> </p>
            <p> <%= menuBlockMesg2 %> </p>
        </div>
        </div>
    </div>

<!-- Here are button portion of menu -->
    <button class="tablink" onclick="menu_click('Main', this, 'black')"          id="main-button">         Main</button>
    <button class="tablink" onclick="menu_click('Contributors', this, 'black')"  id="contributors-button"> Contributors</button>
    <button class="tablink" onclick="menu_click('Papers', this, 'black')"         id="papers-button">        Papers</button>
    <button class="tablink" onclick="menu_click('Account', this, 'black')"         id="account-button">        Account</button>

</div>